.navbar {
  transition: background-color 0.3s ease;
}

/* MENÚ MOBILE OVERLAY */
.mobile-menu {
  background-color: #212529; // bg-dark
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050;
  display: none;
}

.mobile-menu.show {
  display: block;
}

/* Desktop: usar comportamiento normal */
@media (min-width: 992px) {
  .mobile-menu {
    position: static;
    background: transparent;
    display: flex !important;
  }

  .navbar-light {
    background-color: white !important;
  }
}

.btn-primary {
  padding: 0.5rem 1.25rem;
}

