.navbar {
  transition: background-color 0.3s ease;
  z-index: 1050;
}

/* MOBILE: menú con fondo sólido */
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #212529; // bg-dark
    padding-bottom: 1rem;
  }

  .nav-link {
    color: #fff !important;
  }
}

/* DESKTOP: Bootstrap normal */
@media (min-width: 992px) {
  .navbar-collapse {
    background: transparent;
  }

  .nav-link {
    color: #212529 !important;
  }
}
